name: fl_nodes_workspace
description: Monorepo workspace for the FlNodes framework.
publish_to: none

environment:
  sdk: ">=3.9.0 <4.0.0"

dev_dependencies:
  melos: ^7.1.1
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter

workspace:
  - examples/fl_nodes_example
  - examples/fl_context_menu_example
  - benchmarks
  - packages/fl_nodes
  - packages/fl_nodes_core
  - packages/fl_context_menu

melos:
  publish:
    git:
      enabled: true

  command:
    bootstrap:
      runPubGetInParallel: true
      usePubspecOverrides: true
    version:
      linkToVersion: true
      updateDependents: true
      updateGitTagRefs: true

  scripts:
    format:
      run: melos exec -- "dart format ."
      description: Run dart format across all packages.

    analyze:
      run: melos exec -- "dart analyze --fatal-infos"
      description: Run dart analyze across all packages.

    example: cd examples/fl_nodes_example && flutter run -d chrome
    example:profile: cd examples/fl_nodes_example && flutter run --profile -d chrome
    example:release: cd examples/fl_nodes_example && flutter run --release -d chrome

flutter:
  uses-material-design: true
