name: Gh-Pages

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
      - uses: WilliamKarolDiCioccio/flutter-gh-pages@main
        with:
          baseHref: /fl_nodes/
          workingDir: examples/fl_nodes_example
          targetBranch: gh-live-example
